<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height,initial-scale=1.0, user-scalable=no, user-scalable=0" />
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script defer src="/js/room/chat.js"></script>
    <link rel="stylesheet" href="/css/room/chat.css">
    <title>약속방</title>
</head>
<body>
<section id="chat-section">
    <div class="chat-container">
        <div class="chat-list">
<!--            <div class="message">-->
<!--                <h3 class="username">닉네임</h3>-->
<!--                <p class="message-content">메시지내용</p>-->
<!--            </div>-->
        </div>
        <div class="chat-options">
            <label for="message"></label>
            <input type="text" name="message" id="message">
            <input type="button" id="btn-send"value="전송">
        </div>
    </div>
</section>
</body>
</html>